# THIS IS A TEMPLATE FILE. MAKE A COPY AND RENAME TO `.env` TO USE.

# https://discord.com/developers
TOKEN=BOT_TOKEN

# ID of the server to use
TEST_SERVER=123

# The User ID of the bot owner, this is the user that'll get pinged for reminders, etc.
# This is designed for single-user!
USER_ID=123
